.container  {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: baseline;
}

.container .container {
    display: inherit;
    flex-direction: column;
    justify-content: space-evenly;

    min-height: 300px;
}

.container li {
    list-style: none;
}